<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mi360.aladdin.store.mapper.StoreProductMapper" >
  <resultMap id="BaseResultMap" type="com.mi360.aladdin.store.domain.StoreProduct" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="storeID" property="storeID" jdbcType="INTEGER" />
    <result column="productID" property="productID" jdbcType="INTEGER" />
    <result column="sortOrder" property="sortOrder" jdbcType="INTEGER" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, storeID, productID, sortOrder, insertTime, updateTime, status, recommend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_store_product
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_store_product
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mi360.aladdin.store.domain.StoreProduct" >
    insert into t_store_product (ID, storeID, productID, 
      sortOrder, insertTime, updateTime, 
      status, recommend)
    values (#{ID,jdbcType=INTEGER}, #{storeID,jdbcType=INTEGER}, #{productID,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{recommend,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mi360.aladdin.store.domain.StoreProduct" >
    insert into t_store_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="storeID != null" >
        storeID,
      </if>
      <if test="productID != null" >
        productID,
      </if>
      <if test="sortOrder != null" >
        sortOrder,
      </if>
      <if test="insertTime != null" >
        insertTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="storeID != null" >
        #{storeID,jdbcType=INTEGER},
      </if>
      <if test="productID != null" >
        #{productID,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mi360.aladdin.store.domain.StoreProduct" >
    update t_store_product
    <set >
      <if test="storeID != null" >
        storeID = #{storeID,jdbcType=INTEGER},
      </if>
      <if test="productID != null" >
        productID = #{productID,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sortOrder = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insertTime = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mi360.aladdin.store.domain.StoreProduct" >
    update t_store_product
    set storeID = #{storeID,jdbcType=INTEGER},
      productID = #{productID,jdbcType=INTEGER},
      sortOrder = #{sortOrder,jdbcType=INTEGER},
      insertTime = #{insertTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="cancelProxy">
  	update t_store_product
  	set status='DEL' 
  	where storeID=#{storeID} AND status='OK#'
  	AND productID in
  	<foreach collection="productIds" item="productId" open="(" separator="," close=")">
  		#{productId}
  	</foreach>
  </update>
  <update id="topProduct">
  	update t_store_product
  	set sortOrder=0,
  	updateTime = now()
  	where storeID=#{storeID} and productID=#{productId}
  	and status='OK#'
  </update>
  <update id="recommend">
  	update t_store_product
  	set recommend=1 
  	where storeID=#{storeID} AND status='OK#'
  	AND productID in
  	<foreach collection="productIds" item="productId" open="(" separator="," close=")">
  		#{productId}
  	</foreach>
  </update>
</mapper>